<ng-container *ngFor="let entity of entities$">
  <ng-container [ngSwitch]="entity.type">

    <app-song-display *ngSwitchCase="songType"
                      [id]="entity.id">
    </app-song-display>
  </ng-container>
</ng-container>
