$side-nav-width: 256px;

.mat-toolbar {
  justify-content: space-between;
  min-height: 64px;
}

.app-main-sidenav {
  min-width: $side-nav-width;
  max-width: $side-nav-width;
}

.app-main-content {
  padding: 16px;
  height: calc(100% - 32px);
}

.mat-sidenav-container {
  height: calc(100% - 64px);
}
