<mat-toolbar class="flex w-100 mat-elevation-z12"
             color="primary">
  <button mat-flat-button
          color="accent"
          (click)="onCreate()">
    Create
  </button>
</mat-toolbar>

<mat-sidenav-container class="app-main-sidenav-container">
  <mat-sidenav class="mat-elevation-z12 app-main-sidenav"
               position="start"
               [opened]="sidenavOpen$ | async"
               [mode]="sidenavMode$ | async"
               [fixedBottomGap]="1"
               [fixedTopGap]="64">
    <div class="flex d-column j-space-between h-100">
      <app-song-list></app-song-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
