<mat-selection-list [formControl]="formControl">
  <mat-list-option *ngFor="let song of songs$ | async"
                   [value]="song">
    {{song.title}}
  </mat-list-option>
</mat-selection-list>
